[req]
prompt = no
distinguished_name = dn
req_extensions = ext
input_password = default

[dn]
CN = example.com
emailAddress = ksong@example.com
O = Kylin Soong Ltd
L = Beijing
C = CN

[ext]
subjectAltName = DNS:www.example.com,DNS:example.com
